/HotelReservationSystemClient/nbproject/private/
/HotelReservationSystemLibrary/nbproject/private/
/HotelReservationSystem-ejb/nbproject/private/
/nbproject/private/
/dist/
/build/
/HotelReservationSystemClient/dist/
/HotelReservationSystemClient/build/
/HotelReservationSystemLibrary/build/
/HotelReservationSystemLibrary/dist/
/HotelReservationSystem-ejb/dist/
/HotelReservationSystem-ejb/build/
/HoRSManagementClient/nbproject/private/
/HoRSManagementClient/build/
/HoRSManagementClient/dist/
/HotelManagementClient/nbproject/private/
/HotelManagementClient/build/
/HotelManagementClient/dist/
